body {
    font: 28px Futura, sans-serif;
    background: dimgrey;
    text-align: center;
    color: black;
    text-shadow: 0 0 5px rgb(255, 255, 255);
    margin-top: 5%;
}

.board-row:after {
    clear: both;
    content: "";
    display: table;
}

.square {
    background: dimgrey;
    border: 1px solid whitesmoke;
    float: left;
    font-size: 45px;
    font-weight: bold;
    line-height: 34px;
    height: 63px;
    margin-right: -1px;
    margin-top: -1px;
    text-align: center;
    width: 63px;
    padding: 0;
}

.square:focus {
    outline: none;
}

.kbd-navigation .square:focus {
    background: rgb(0, 0, 0);
}

.game {
    display: flex;
    flex-direction: row;
}

.game-info {
    font: 18px Futura, sans-serif;
    background: dimgrey;
    width: 250px;
}

div {
    /*  border: 1px solid lawngreen;*/
    text-align: center;
}

button {
    border-radius: 5px;
    background-color: dimgrey;
    color: whitesmoke;
}
ol,
li {
    margin-left: 20px;
    color: azure;
    margin-bottom: 5px;
}

.margin-top {
    padding-top: 1%;
}

h3 {
    font-weight: bold;
}

.selected {
    font-weight: bold;
}

.squareWinner {
    background-color: rgb(255, 81, 81);
}

.textWinner {
    color: rgb(255, 81, 81);
}
