body {
    font-family: Arial Rounded MT Bold;
    background: #2f4f4f;
    text-align: center;
    color: black;
}

.container {
    max-width: 700px;
}

.square {
    background: #5f9ea0; /*dimgray*/
    font-size: 50px;
    font-weight: bold;
    border-radius: 7.5px;
    height: 100px;
    width: 100px;
    margin: 3px;
    line-height: 95px;
    cursor: pointer;
}

.square-board:hover {
    border: 0.5px solid #8fbc8f;
    background: #416a6b;
}

.status-message {
    font-size: 2rem;
    color: #f5fffa;
    align-self: center;
    padding-left: 1rem;
}

.status-winner {
    height: 120;
    width: 120;
    font-size: 3.5rem;
    line-height: 1.75;
    cursor: auto;
    border: none;
}

.game-board {
    padding: 0 0 0 0;
    width: unset;
    flex: unset;
}

.col-4 {
    max-width: unset;
    flex: auto;
}

.row {
    flex-wrap: unset;
}

.disable-squares {
    pointer-events: none;
    cursor: default;
    text-decoration: none;
    color: black;
}

/* BUTTON RESET */
.reset-div {
    text-align: end;
    align-self: center;
}

#reset {
    margin: 3px;
    background-color: #5f9ea0;
}
#reset:hover {
    background-color: #416a6b;
}

/*ALIGN CENTER*/
.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.selected {
    font-weight: bold;
}

.squareWinner {
    background-color: #adff2f; /*#ff5151*/
}

.textWinner {
    color: #adff2f; /*#ff5151*/
}

.game-over {
    background-color: #dc143c;
}
.game-over-text {
    color: #dc143c;
}

.fader-1 {
    opacity: 1;
    -webkit-transition: opacity 2s;
    -moz-transition: opacity 2s;
    -o-transition: opacity 2s;
    transition: opacity 2s;
}
.fader-0 {
    opacity: 0;
    -webkit-transition: opacity 2s;
    -moz-transition: opacity 2s;
    -o-transition: opacity 2s;
    transition: opacity 2s;
}

@media (min-width: 720px) {
    #root {
        width: 700px;
    }
}

@media (max-width: 460px) {
    #root {
        margin: 0;
        width: 50%;
    }
    .col-4 {
        padding: 0;
        margin: 0;
    }
    .row {
        margin: 0 0 0 7px;
    }
    .container {
        padding: 0;
        margin: 0;
    }
    .reset-div {
        align-self: baseline;
        margin-left: 75px;
    }
    .row-winner {
        width: max-content;
    }
    .status-message {
        font-size: 1.25em;
        display: inline-flex;
    }
    #square-winner {
        margin-left: 18px;
        height: 65px;
        width: 65px;
        line-height: 1.15;
    }
    .game-board {
        margin-top: 2rem;
    }
    .btn-lg {
        padding: 0.25rem 0.75rem;
        font-size: 1rem;
        line-height: 1.5;
        border-radius: 0.3rem;
    }
}
