html,
body {
    font-family: Arial Rounded MT Bold;
    background: #2f4f4f;
    color: black;
}

.container {
    max-width: 318px;
    min-width: 318px;
    padding: 0;
}

.square {
    background: #5f9ea0; /*dimgray*/
    font-size: 50px;
    font-weight: bold;
    border-radius: 7.5px;
    height: 100px;
    width: 100px;
    margin: 3px;
    line-height: 95px;
    cursor: pointer;
    text-align: center;
}

.square-board:hover {
    border: 0.5px solid #8fbc8f;
    background: #416a6b;
    box-shadow: 0 0 20px 1px #5f9ea0;
    z-index: 5;
}

.status-message {
    font-size: 1.8rem;
    color: #f5fffa;
    align-self: center;
}

.status-winner {
    font-size: 3rem;
    cursor: auto;
    border: none;
    text-align: center;
}

.centered {
    text-align: center;
}

#square-winner {
    height: 65px;
    width: 65px;
    line-height: 1.35;
}
.btn {
    height: 32.5px;
    width: 65px;
    font-size: 1rem;
    padding: 0;
    border-radius: 0.3rem;
    margin: 3px;
}

.disable-squares {
    pointer-events: none;
    cursor: default;
    text-decoration: none;
    color: black;
}

.reset-div {
    align-self: center;
}

#reset {
    background-color: #5f9ea0;
}
#reset:hover {
    background-color: #416a6b;
}

.selected {
    font-weight: bold;
}

.squareWinner {
    background-color: #adff2f; /*#ff5151*/
}

.textWinner {
    color: #adff2f; /*#ff5151*/
}

.game-over {
    background-color: #dc143c;
}
.game-over-text {
    color: #dc143c;
}

.fader-1 {
    opacity: 1;
    -webkit-transition: opacity 2s;
    -moz-transition: opacity 2s;
    -o-transition: opacity 2s;
    transition: opacity 2s;
}
.fader-0 {
    opacity: 0;
    -webkit-transition: opacity 2s;
    -moz-transition: opacity 2s;
    -o-transition: opacity 2s;
    transition: opacity 2s;
}

.footer {
    color: #e9e9e9;
    text-align: center;
    font-family: Ubuntu;
    font-weight: 100;
    font-size: smaller;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
    background-color: #707070;
}
